
<html>
<head>
<meta charset="UTF-8">
<meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.7.0/css/onsen-css-components.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.7.0/css/onsenui.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.7.0/js/onsenui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.7.0/js/angular-onsenui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>

</head>
<body>
<ons-navigator swipeable var="myNavigator" page="page1.html"></ons-navigator>
<template id="page1.html">
  <ons-page>
    <ons-toolbar>
      <div class="center">Leaf LR</div>
      <div class="right">
      	<div style="padding-top: 0.3em">
        <ons-toolbar-button ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
          <ons-icon icon="ion-ios-information-outline, material:md-info"></ons-icon>
        </ons-toolbar-button>
      </div></div>
    </ons-toolbar>

    <p>This is the first page.</p>

    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
      <ons-card ng-click="myNavigator.pushPage('enxaqueca.html', {data: {title: 'Enxaqueca'}})">
    	<div class="title">Enxaqueca</div>
    	<div class="content">Diferencie enxaqueca de outras cefaléias</div>

    </ons-card>
    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
    <ons-card ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})">
    	<div class="title">ITU</div>
    	<div class="content">Diagnóstico clínico de ITU</div>
    </ons-card>
  </ons-page>
</template>

<template id="page2.html">
  <ons-page ng-controller="Page2Controller as page2" ons-init="page2.init($event)">
    <ons-toolbar>
      <div class="left"><ons-back-button>Page 1</ons-back-button></div>
      <div class="center">{{ myNavigator.topPage.data.title }}</div>
    </ons-toolbar>

    <p>This is the second page.</p>
     <ons-button ng-click="myNavigator.pushPage('enxaqueca.html', {data: {title: 'Enxaqueca'}})">Push page 3</ons-button>
  </ons-page>
</template>

<template id="enxaqueca.html">
  <ons-page ng-controller="Page2Controller as page3" ons-init="page2.init($event)">
    <ons-toolbar>
      <div class="left"><ons-back-button>Page 1</ons-back-button></div>
      <div class="center">{{ myNavigator.topPage.data.title }}</div>
    </ons-toolbar>
    <div class="cont">
      <h1>{{dados.title}}</h1>
      <div class="content">
        <div class='ptp'>Probabilidade Pré-Teste: {{dados.pretest*100}}%</div>
    <ons-list>
    <ons-list-header>Settings</ons-list-header>
    <ons-list-item ng-repeat="todo in todos">
   <label for="check-{{todo}}" class="center "><div>{{todo.text}} (LR = {{todo.lplus}})</div></label>
      <div class="right"><ons-switch input-id="check-{{todo}}" ng-model="todo.done"></ons-switch></div> 
  	
    </ons-list-item>
        
        <div class="result">
          <span>LR+ Total: {{ getTotal() }}</span>
          <br>
          <span>Probabilidade Pós-teste: {{ getPost() }}%</span>
        </div>

  </ons-list>
      </div>
</ons-page>
</template>

  <script src="app.js"></script>
</body>
</html>


 
